 /*---------------------------------------------------------------------------\
|                            Default Styles                                   |
\---------------------------------------------------------------------------*/
*{
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  text-align: center !important;
}
div{
  display: block;
  margin: auto;
}
#content_body{
  padding-top: 60px;
  background: #000000;
  color: #ffffff;
}
#content_body legend{
  color: #ffffff;
}
#content_body button{
  background: #2D009A;
  border-color: #2D009A;
}
#content_body a{
  color: #2D009A;
}
::-webkit-scrollbar{
  height: 8px;
  width: 8px;
  margin: 1;
}
::-webkit-scrollbar-track{
  background: #ffffff;
}
::-webkit-scrollbar-thumb{
  background: #2D009A;
}


 /*---------------------------------------------------------------------------\
|                      Header and Navbar Style                                |
\---------------------------------------------------------------------------*/
.navbar{
  height: 60px;
  border-bottom: 3px solid #2D009A !important;
  color: #2D009A;
  z-index: 5;
}
.navbar .container-fluid{
  height: 60px;
}
.navbar a{
  color: #2D009A !important;
  font-size: 22px;
  height: 60px;
}
.navbar li{
  margin: 0;
}
.in{
  background: rgba(45, 0, 154, 0.9);
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.in a{
  color: #ffffff !important;
  padding: 20px !important;
}
.in ul{
  width: 100%;
  margin: auto;
  float: none !important;
}
.in li{
  border-bottom: 1px outset #ffffff;
}


footer{
  background: #2D009A;
  color: #ffffff;
}
footer img{
  width: 40px;
  height: 40px;
}
.footer{
  padding: 40px 0 20px 0;
}
.footer a{
    padding: 20px;
}
.footer .socials{
  padding-bottom: 20px;
}


 /*---------------------------------------------------------------------------\
|                      Intro Login or Signup Page                             |
\---------------------------------------------------------------------------*/
.email-grab{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #000000;
}
.email-grab .intro-wrapper{
  display: table;
  height: 100%;
  width: 100%;
}
.email-grab .intro-wrapper .intro{
  display: table-cell;
  vertical-align: middle;
}
.email-grab .intro-header-wrapper{
  color: #ffffff;
  text-align: center;
  font-size: 28px;
}
.email-grab #intro-logo-wrapper{
  padding: 40px 0 60px 0;
}
.email-grab #intro-logo-wrapper #intro-logo{
  width: 800px;
  display: block;
  margin: auto;
}
.email-grab .intro-button{
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  border: 3px solid #ffffff;
  border-radius: 10px;
  max-width: 500px;
  display: inline;
  padding: 12px;
  margin: 10px;
  text-align: center;
  font-family: 'Audiowide', cursive;
}
.email-grab .intro-button a{
  color: #ffffff;
}
.email-grab .intro-button:hover{
  background: #ffffff;
}
.email-grab .intro-button:hover a{
  color: #000000;
  font-weight: bold;
}


 /*---------------------------------------------------------------------------\
|                      Pinax Theme Page Styling                               |
\---------------------------------------------------------------------------*/
#login_page, #logout_page, #email_confirm_page, #password_reset_page, .settings_page_content{
  padding: 100px 0 100px 0;
}
.settings_page_content{
  display: block;
  margin: auto;
  max-width: 80%;
}
#account_settings{
  margin: 20px;
}




.loader{
  background: #000000;
  position: fixed;
  z-index: 1050;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
}
#loader{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#loader_image{
  width: 70%;
}

@media only screen and (min-width: 768px){
  #loader_image{
    width: 30%;
  }

}



















.loaded{
  display: none;
}
.flip-style{
  border-color: #2D009A;
  background: #ffffff;
  color: #2D009A;
  transition: 1s;
}


.flip-container {
	perspective: 1000000000000000000px;
}

/*.flip-container:active .flipper, .flip-container.active .flipper {
	transform: rotateY(180deg);
  transition: 1s;
}*/
/*.flip-container:active .intro-button{
  border-color: #2D009A;
  background: #ffffff;
  color: #2D009A;
  transition: 1s;
}*/
.flip-container, .front, .back {
	width: 320px;
	height: 54px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);

}
.vertical.flip-container {
	position: relative;
  transition: 1s;
}
.vertical .back {
	transform: rotateX(180deg);
}

/*.vertical.flip-container:active .flipper {
	transform: rotateX(-180deg) translateY(-54px);
}*/
.flipped {
	transform: rotateX(-180deg) translateY(-54px);
  transition: 1s;
}


 /*------------------------------------------------------------\
|                   Default Styles                             |
\------------------------------------------------------------*/
.title{

}
.title h1{
  font-size: 48px;
  text-decoration: underline;

}
.content{
  padding-top: 60px;
  padding-bottom: 60px;
}
.next{
  padding: 30px;
}
.next img{
  transform: rotate(90deg);
  display: block;
  margin: auto;
}


 /*------------------------------------------------------------\
|                    Vision Styles                             |
\------------------------------------------------------------*/
.vision .video{
  display: block;
  margin: auto;
}
.vision .content{

}

 /*------------------------------------------------------------\
|                   Courses Styles                             |
\------------------------------------------------------------*/
.courses h2{
  font-size: 36px;
}
.courses ul{
  list-style-type: none;
  font-size: 20px;
}
.courses .icon{
  padding: 20px;
}

 /*------------------------------------------------------------\
|                     Tools Styles                             |
\------------------------------------------------------------*/
.tools{

}
.tools .icon img{
  width: 100px;
}


 /*------------------------------------------------------------\
|                     About Styles                             |
\------------------------------------------------------------*/
.about{
}
.about img{
  border-radius:100px;
  width: 200px;
}

 /*------------------------------------------------------------\
|                    Colors Styles                             |
\------------------------------------------------------------*/
.bg-blue{
  background: #2D009A;
  color: #ffffff !important;
}
.bg-white{
  background: #F2F2F2;
  color: #2D009A;
}
