{% load i18n %}
{% load account_tags %}

<!-- This is the right part of the navbar which includes the user account login and signup links as well as settings -->
<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}                                      <!-- if the user is logged in -->
        <li class="navbar-text">
            <a href="">{% user_display request.user %}</a>                       <!-- Show the user name -->
        </li>
        <li>
            <a href="{% url 'account_settings' %}">Settings</a>
        </li>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}">Log Out</a>
        </li>
    {% else %}                                                                  <!-- if the user is NOT logged in -->
        <li><a href="{% url 'account_login' %}">Log In</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
