<!doctype HTML>
<html>
  <head>

    <title>Veltio Academy</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" target="_blank" href="css/style.css">
    <link href="css/mailchimp.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link target="_blank" href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>

  <body class="animated fadeInDown">

    <nav class="navbar navbar-default fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/BlueTextLogo.png" height="30px"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><img src="images/facebook.png" width="30px;"></a></li>
            <li><a href="#"><img src="images/instagram.png" width="30px;"></a></li>
            <li><a href="#"><img src="images/twitter.png" width="30px;"></a></li>
          </ul>
        </div>
      </div>
    </nav>


    <section class="vision bg-white" id="vision">
      <div class="container" id="vision-wrapper">
        <div class="title"><h1>The Vision</h1></div>
        <div class="content container"><iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/CiQ874ZuIno" frameborder="0" allowfullscreen></iframe></div>
        <div class="next"><img src="images/ArrowBlue.png" width="64px;"></div>
      </div>
    </section>

    <section class="courses bg-blue" id="courses">
      <div class="container" id="courses-wrapper">
        <div class="title"><h1>The Courses</h1></div>
        <div class="content container">
          <div class="col-sm-6 content-a">
            <!--Basic Web Developement-->
            <h2>Code</h2>
            <div class="icon"><img src="images/code.png" width="100px;"></div>
            <div class="text">
              <ul>
                <li>Web Developement</li>
                <li>Javascript</li>
                <li>SEO</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 content-b">
            <!--Math and Science-->
            <h2>Math</h2>
            <div class="icon"><img src="images/math.png" width="100px;"></div>
            <div class="text">
              <ul>
                <li>Calculus</li>
                <li>Algebra</li>
                <li>Geometry</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="next"><img src="images/ArrowWhite.png" width="64px;"></div>
      </div>
    </section>

    <section class="tools bg-white" id="tools">
      <div class="container" id="tools-wrapper">
        <div class="title"><h1>The Tools</h1></div>
        <div class="content container">
          <div class="col-sm-4 content-1">
            <div class="icon">
              <a href="https://hangouts.google.com/" ><img src="images/Hangouts.png"></a>
            </div>
            <div class="text">
              <h2>Face To Face</h2>
              <p>Consultations, and Sessions in an interactive easy to use software</p>
            </div>
          </div>
          <div class="col-sm-4 content-2">
            <div class="icon">
              <a href="https://www.google.com/drive/"><img src="images/Drive.png"></a>
            </div>
            <div class="text">
              <h2>Shared Documents</h2>
              <p>Easily share work and discuss solutions with Google Drive</p>
            </div>
          </div>
          <div class="col-sm-4 content-3">
            <div class="icon">
              <a href="https://www.google.com/wallet/"><img src="images/Wallet.png"></a>
            </div>
            <div class="text">
              <h2>Secure Payments</h2>
              <p>With Google payments are safe and hassel free</p>
            </div>
          </div>
        </div>
        <div class="next"><img src="images/ArrowBlue.png" width="64px;"></div>
      </div>
    </section>

    <section class="about bg-blue" id="about">
      <div class="container about-wrapper">
        <div class="title"><h1>The Teacher</h1></div>
        <div class="content container">
          <div class="image">
            <img src="images/profile.jpg">
          </div>
          <div class="text">
            <h2>Josh Hoeg</h2>
            <h3>Call Me</h3>
            <h4>(505) 967 8683</h4>
            <p>Lorem ipsum dolor sit amet, vulputate nonummy egestas ipsum auctor, massa et mauris commodo per scelerisque, at odio ac, suspendisse vestibulum. Vivamus ligula dui libero quis parturient scelerisque, in commodo nisl, sed ligula erat tempus phasellus, tellus justo commodo non. Amet rhoncus, litora imperdiet vitae etiam porttitor, mi vestibulum hendrerit vel placerat provident imperdiet, vel dolor luctus mauris, elit risus aliquam vel est pellentesque. Dolor non, porta fermentum bibendum egestas vestibulum ac lectus, porttitor dui dapibus eu quisque nulla nulla. Duis auctor sapien ac ligula vestibulum in, dictumst ac eu suscipit at tellus lobortis, sollicitudin aliquam iaculis nulla sed, mauris non. Ut dictum sollicitudin amet, proin elit urna, eros sed, ipsum wisi. Morbi litora condimentum integer eu quo, aliquam morbi arcu ac magna ligula non, suspendisse condimentum in, duis id et quam, ornare id turpis et wisi. Quisque quam integer velit.</p>
          </div>
        </div>
      </div>
    </section>



    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>

</html>
