{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css ' %}">

  <section id="intro_wrapper" style="background: url('{% static 'images/bg/intro1.png' %}')">
    <div class="container content_wrapper">
      <div class="content" id="intro_content">
        <h1>Craft Your Future</h1>
        <div class="btn">
          <a class="btn-link" href="/">START</a>
        </div>
      </div>
    </div>
  </section>


  <section id="vision_wrapper">
    <div class="container content_wrapper">
      <div class="header" id="vision_header">
        <h1> The Vision </h1>
        <div class="divider"></div>
      </div>
      <div class="content" id="vision_content">
        <div class="col-lg-6" id="vision_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3Dnn7NFQPbQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6" id="vision_text">
          <h2>Sculpt the leaders of tomorrow</h2>
          <div class="divider" id="sub-divider"></div>
          <p>Veltio Academy is a premium tutoring service that teaches the skills necessary to change the future.<p>
        </div>
      </div>
    </div>
  </section>


  <section id="courses_wrapper" style="background: url('{% static 'images/bg/courses.png' %}')">
    <div class="container content_wrapper">
      <div class="header right" id="courses_header">
        <h1>The Courses</h1>
        <div class="divider"></div>
      </div>
      <div class="content" id="courses_content">
        <div class="courses_card active" id="courses_1">
          <div class="courses_card_header">
            <img class="right" src="{% static 'images/socials/instagram.png' %}" alt="instagram_social">
            <img class="left" src="{% static 'images/socials/instagram.png' %}" alt="instagram_social">
            <h3>Mathematics</h3>
          </div>
          <div class="courses_card_content">
            <p>Learn anyting from Algebra and Geometry to Calculus or Algorithms. Essential skills for Engineering or Computer Science.</p>
          </div>
        </div>
        <div class="courses_card" id="courses_2">
          <div class="courses_card_header">
            <img class="right" src="{% static 'images/socials/instagram.png' %}" alt="instagram_social">
            <img class="left" src="{% static 'images/socials/instagram.png' %}" alt="instagram_social">
            <h3>Marketing</h3>
          </div>
          <div class="courses_card_content">
            <p>Learn to use Instagram and Facebook marketing techniques. Or learn the basics to Search Engine Optimization and Ad Words.</p>
          </div>
        </div>
        <div class="courses_card" id="courses_3">
          <div class="courses_card_header">
            <img class="right" src="{% static 'images/socials/instagram.png' %}" alt="instagram_social">
            <img class="left" src="{% static 'images/socials/instagram.png' %}" alt="instagram_social">
            <h3>Code</h3>
          </div>
          <div class="courses_card_content">
            <p>Learn to code in HTML and CSS and design websites like this. Or begin creating Web Apps with Python or Java.</p>
          </div>
        </div>
      </div>
      <div class="courses_links">
        <img class="courses_link active_link" id="courses_1_link" src="{% static 'images/icons/math.png' %}" alt="instagram_social" onclick="activate('1')">
        <img class="courses_link" id="courses_2_link" src="{% static 'images/icons/marketing.png' %}" alt="instagram_social" onclick="activate('2')">
        <img class="courses_link" id="courses_3_link" src="{% static 'images/icons/code.png' %}" alt="instagram_social" onclick="activate('3')">
      </div>
    </div>
  </section>

  <script>

  </script>

  <section id="tools_wrapper" style="background: url('{% static 'images/bg/tools.png' %}')">
    <div class="container content_wrapper">
      <div class="header" id="tools_header">
        <h1>The Tools</h1>
        <div class="divider"></div>
      </div>
      <div class="content" id="tools_content">
        <div class="col-sm-4">
          <div class="tools_card">
            <div class="icon">
              <a href="https://hangouts.google.com/" ><img src="{% static 'images/Hangouts.png' %}"></a>
            </div>
            <div class="text">
              <h2>Face To Face</h2>
              <p>Consultations, and Sessions in an interactive easy to use software</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tools_card">
            <div class="icon">
              <a href="https://www.google.com/drive/"><img src="{% static 'images/Drive.png' %}"></a>
            </div>
            <div class="text">
              <h2>Shared Documents</h2>
              <p>Easily share work and discuss solutions with Google Drive</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tools_card">
            <div class="icon">
              <a href="https://www.google.com/wallet/"><img src="{% static 'images/Wallet.png' %}"></a>
            </div>
            <div class="text">
              <h2>Secure Payments</h2>
              <p>With Google payments are safe and hassel free</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>

  </style>


  <section id="cta_wrapper" style="background: url('{% static 'images/bg/cta.png' %}')">
    <div class="container content_wrapper">
      <div class="header" id="cta_header">

      </div>
      <div clas="content" id="cta_content">

      </div>
    </div>
  </section>

  <section id="bio_wrapper">
    <div class="container content_wrapper">
      <div class="header" id="bio_header">

      </div>
      <div clas="content" id="bio_content">

      </div>
    </div>
  </section>

  <section id="contact_wrapper" style="background: url('{% static 'images/bg/contact.png' %}')">
    <div class="container content_wrapper">
      <div class="header" id="contact_header">

      </div>
      <div clas="content" id="contact_content">

      </div>
    </div>
  </section>



{% endblock %}
